<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="loginModalBody">
                <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group text-center">
                        <label for="exampleInputEmail1">Usuario</label>
                        <input type="text" name="usuario" [(ngModel)]="form.username" class="form-control mx-auto"
                            id="exampleInputEmail1" aria-describedby="emailHelp" required #username="ngModel">
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid"
                            style="margin-top: 1rem; padding: 0;">
                            Username is required!
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" name="password" [(ngModel)]="form.password" class="form-control mx-auto"
                            id="exampleInputPassword1" required minlength="6" #password="ngModel">
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid"
                            style="margin-top: 1rem; padding: 0;">
                            <div *ngIf="password.errors?.required">Password is
                                required</div>
                            <div *ngIf="password.errors?.minlength">
                                Password must be at least 6 characters
                            </div>
                        </div>
                    </div>
                    <div class="col text-center">
                        <button class="btn btn-primary mt-5 btn-block"
                            [attr.data-dismiss]="isLoggedIn ? 'modal' : null">Acceder</button>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && 
                        isLoginFailed" style="margin-top: 1rem; padding: 0; text-align: center;">Login failed: {{
                            errorMessage }}
                        </div>
                    </div>
                </form>
                <div class="alert alert-success" *ngIf="isLoggedIn">
                    Logged in as {{ roles }}.
                </div>
            </div>
        </div>
    </div>
</div>