<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="loginModalBody">
                <form>
                    <div class="form-group text-center">
                        <label for="exampleInputEmail1">Usuario</label>
                        <input type="text" name="usuario" [(ngModel)]="usuario" class="form-control mx-auto"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group text-center">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" name="contrasena" [(ngModel)]="contrasena" class="form-control mx-auto"
                            id="exampleInputPassword1">
                    </div>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary mt-5 btn-block" (click)="login()"
                            [attr.data-dismiss]="this.usuario.length === 0 ? null : 'modal'">Acceder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>