<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" id="prcard">
                <a class="btn btn-primary" id="editbtn" onclick="editbtnPr(this.id)">Edit</a>
                <h5 class="card-title pb-2">Hard & Soft Skills</h5>
                <div class="lictn">
                    <skill-hs-item></skill-hs-item>
                    <div counter="1">
                        <p class="text-center mb-2 mt-2 noselect">
                            <span>Gestión del tiempo</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                class="bi bi-pencil-fill mb-2 ml-3 eduedtbtn" style="cursor: pointer;"
                                viewBox="0 0 16 16" onclick="editPr(this.id)" id="predtbtn1">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                class="bi bi-trash-fill mb-2 ml-3 eduedtbtn" style="cursor: pointer;"
                                viewBox="0 0 16 16" onclick="delPr(this.id)" id="prdltbtn1">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                            </svg>
                        </p>
                        <div class="text-center mb-2">
                            <input type="range" class="custom-range inputcr" id="valuePr1" step="5" value="0"
                                onchange="updatePrValue(this.id)" style="width: 50%;">
                            <input type="color" class="form-control-color ml-2 inputcr" id="colorPr1" value="#ff0000"
                                title="Choose your color" style="width: 35px; min-width: 35px; position: absolute;"
                                onchange="updatePrColor(this.id)">
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 15%; background-color: #007bff;"
                                aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                        </div>
                    </div>
                    <div counter="2">
                        <p class="text-center mb-2 mt-2 noselect">
                            <span>Front End</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                class="bi bi-pencil-fill mb-2 ml-3 eduedtbtn" style="cursor: pointer;"
                                viewBox="0 0 16 16" onclick="editPr(this.id)" id="predtbtn2">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                class="bi bi-trash-fill mb-2 ml-3 eduedtbtn" style="cursor: pointer;"
                                viewBox="0 0 16 16" onclick="delPr(this.id)" id="prdltbtn2">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                            </svg>
                        </p>
                        <div class="text-center mb-2">
                            <input type="range" class="custom-range inputcr" id="valuePr2" step="5" value="0"
                                onchange="updatePrValue(this.id)" style="width: 50%;">
                            <input type="color" class="form-control-color ml-2 inputcr" id="colorPr2" value="#ff0000"
                                title="Choose your color" style="width: 35px; min-width: 35px; position: absolute;"
                                onchange="updatePrColor(this.id)">
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 35%; background-color: #28a745;"
                                aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                        </div>
                    </div>
                    <div counter="3">
                        <p class="text-center mb-2 mt-2 noselect">
                            <span>Back End</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                class="bi bi-pencil-fill mb-2 ml-3 eduedtbtn" style="cursor: pointer;"
                                viewBox="0 0 16 16" onclick="editPr(this.id)" id="predtbtn3">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                class="bi bi-trash-fill mb-2 ml-3 eduedtbtn" style="cursor: pointer;"
                                viewBox="0 0 16 16" onclick="delPr(this.id)" id="prdltbtn3">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                            </svg>
                        </p>
                        <div class="text-center mb-2">
                            <input type="range" class="custom-range inputcr" id="valuePr3" step="5" value="0"
                                onchange="updatePrValue(this.id)" style="width: 50%;">
                            <input type="color" class="form-control-color ml-2 inputcr" id="colorPr3" value="#ff0000"
                                title="Choose your color" style="width: 35px; min-width: 35px; position: absolute;"
                                onchange="updatePrColor(this.id)">
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 5%; background-color: #dc3545;"
                                aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
                        </div>
                    </div>
                </div>
                <div class="container" id="prctr">
                    <div class="row justify-content-center">
                        <div class="text-center mt-3 col-6 btn eduedtbtn"
                            style="border: 1px solid rgb(255 255 255 / 10%); padding: 0; color: inherit;"
                            data-toggle="modal" data-target="#prModal" id="newprbtn" onclick="eInfo(this.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                class="bi bi-plus-circle my-1" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>