<div class="modal fade father" id={{id}} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: unset;">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img [src]="img" class="card-img-top" alt="..." id="modalimg">
            </div>
        </div>
    </div>
</div>