<div class="modal fade" id="expModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir nueva experiencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <input type="text" name="empresa" class="form-control" placeholder="Empresa"
                            aria-label="Empresa" aria-describedby="basic-addon1" id="eip0" required maxlength="110"
                            [(ngModel)]="empresa">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="puesto" class="form-control" placeholder="Puesto" aria-label="Puesto"
                            aria-describedby="basic-addon1" id="eip1" maxlength="140" [(ngModel)]="puesto">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="periodo" class="form-control" placeholder="Período / yyyy - yyyy"
                            aria-label="Período" aria-describedby="basic-addon1" id="eip2" maxlength="140"
                            [(ngModel)]="periodo">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearIpts()"
                        id="expclrBtn">Cancelar</button>
                    <button type="submit" class="btn btn-success"
                        [attr.data-dismiss]="this.empresa.length === 0 ? null : 'modal' " id="expSmtBtn"
                        (click)="submit()">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>