<div class="dummy" id="dummyedu"></div>
<section id="edu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" id="test">
                    <div class="card-body pb-0" id="edcardbody">
                        <edt-btn (enableEvent)="recieveEnable($event)"></edt-btn>
                        <edu-list></edu-list>
                        <ex-list></ex-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>