<div class="modal fade" id="eduModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir nueva educación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" name="institucion" placeholder="Institución"
                            aria-label="Institución" aria-describedby="basic-addon1" id="institucion" required
                            maxlength="110" [(ngModel)]="institucion">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="titulo" class="form-control" placeholder="Título" aria-label="Título"
                            aria-describedby="basic-addon1" id="titulo" maxlength="140" [(ngModel)]="titulo">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="periodo" class="form-control" placeholder="Período / yyyy - yyyy"
                            aria-label="Período" aria-describedby="basic-addon1" id="periodo" maxlength="140"
                            [(ngModel)]="periodo">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearipts()"
                        id="educlrbtn">Cancelar</button>
                    <button type="submit" class="btn btn-success" id="eduSmtBtn" (click)="submit()"
                        [attr.data-dismiss]="this.institucion.length === 0 ? null : 'modal' ">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>