<div class="col mb-4" counter="0">
    <div class="card">
        <label class="mb-0" id="pyimgedtbtn0" style="width: 0px; height: 0px;">
            <input type="file" accept="image/png, image/jpeg" hidden (change)="updateImage($event)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                class="bi bi-pencil-fill mb-2 mr-4 mt-4 eduedtbtn"
                style="cursor: pointer; position: absolute; right: 1px;" viewBox="0 0 16 16"
                [style.display]="edtEnabled ? 'initial' : 'none'">
                <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
            </svg>
        </label>
        <img [src]="py.imgurl" class="card-img-top" data-toggle="modal" data-target="#xx" style="cursor: pointer;"
            alt="..." id="pyimg0">
        <div class="card-body">
            <h5 style="user-select: none;" class="card-title">
                <span #nombre [contentEditable]="enabled === false? 'false' : edtEnabled"
                    [ngStyle]="edtEnabled? editable : {}" [ngStyle]="enabled === false? {} : {}"
                    style="word-break: break-word;">{{py.nombre}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                    [style.display]="enabled ? 'initial' : 'none'" [style.fill]="edtEnabled? 'red' : 'gray'"
                    class="bi bi-pencil-fill mb-2 ml-3 eduedtbtn" style="cursor: pointer;" viewBox="0 0 16 16"
                    (click)="edtEnable(nombre.innerText, descripcion.innerText)" id="pedtbtn0">
                    <path
                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                    class="bi bi-trash-fill mb-2 ml-3 eduedtbtn" style="cursor: pointer;" viewBox="0 0 16 16"
                    id="pdltbtn0" (click)="delPy(py)" [style.display]="enabled ? 'initial' : 'none'">
                    <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                </svg>
            </h5>
            <p class="card-text">
                <span #descripcion [contentEditable]="enabled === false? 'false' : edtEnabled"
                    [ngStyle]="edtEnabled? editable : {}" [ngStyle]="enabled === false? {} : {}"
                    style="word-break: break-word;">{{py.descripcion}}</span>
            </p>
            <a class="btn btn-primary pybtn" [href]="py.link">Visit</a>
            <div *ngIf="edtEnabled === true" class="mt-2">
                <input type="text" name="link" [(ngModel)]="link" class="form-control" placeholder="New Link - https://"
                    aria-label="Link" aria-describedby="basic-addon1" required maxlength="300">
            </div>
        </div>
    </div>
</div>